---
const currentPath = new URL(Astro.request.url).pathname.slice(1);
---

<nav
  class="relative flex flex-row justify-items-start space-x-4 items-start px-0 pb-0 mb-10 font-literata text-[16px]"
>
  <a
    class={currentPath === ""
      ? "underline underline-offset-4 decoration-2 decoration-[#1a1c1a]"
      : "flex text-[#1a1c1a] hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-[#1a1c1a]"}
    href="/"
  >
    home
  </a>
  {
    /* <a
    className="flex text-white hover:underline decoration-neutral-400 decoration-2 underline-offset-4"
    href="/projects"
  >
    projects
  </a> */
  }

  <!-- hack: on vercel prod, currentPath has tailing slash. e.g. /blog -> /blog/ see more: https://github.com/withastro/astro/issues/5248 -->
  <a
    class={currentPath === "bookshelf/"
      ? "underline underline-offset-4 decoration-2 decoration-[#1a1c1a]"
      : "flex text-[#1a1c1a] hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-[#1a1c1a]"}
    href="/bookshelf"
  >
    bookshelf
  </a>
  <a
    class={currentPath === "blogs/"
      ? "underline underline-offset-4 decoration-2 decoration-[#1a1c1a]"
      : "flex text-[#1a1c1a] hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-[#1a1c1a]"}
    href="/blogs"
  >
    blogs
  </a>
</nav>
